[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This repository holds the source code for robinhood version 4, a suite of tools to store and query any filesystem's metadata.
[access "refs/*"]
	owner = group user/Guillaume Courrier (courrierg)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Guillaume Courrier (courrierg)
	label-Verified = -1..+1 group user/Guillaume Courrier (courrierg)
	push = group user/Guillaume Courrier (courrierg)
	read = group user/Guillaume Courrier (courrierg)
	rebase = group user/Guillaume Courrier (courrierg)
	removeReviewer = group user/Guillaume Courrier (courrierg)
	submit = group user/Guillaume Courrier (courrierg)
[access "refs/heads/*"]
	create = group user/Guillaume Courrier (courrierg)
	push = +force group user/Guillaume Courrier (courrierg)
	pushMerge = group user/Guillaume Courrier (courrierg)
	read = group user/Guillaume Courrier (courrierg)
[access "refs/tags/*"]
	push = group user/Guillaume Courrier (courrierg)
	push = +force group user/Guillaume Courrier (courrierg)
