[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always
[project]
	description = This repository holds the source code for robinhood version 4, a suite of tools to store and query any filesystem's metadata.
[access "refs/*"]
	owner = group cea-hpc
[access "refs/heads/*"]
	create = group cea-hpc
	push = +force group cea-hpc
	pushMerge = group cea-hpc
[access "refs/tags/*"]
	push = +force group cea-hpc
	createSignedTag = group cea-hpc
	createTag = group cea-hpc
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[label "Code-Review"]
	defaultValue = 0
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
    copyCondition = changekind:TRIVIAL_REBASE
	function = MaxWithBlock
[access "refs/for/*"]
	addPatchSet = group Registered Users
	push = group Registered Users
	create = group Registered Users
[access "refs/for/refs/heads/*"]
	push = group Registered Users
	create = group Registered Users
	read = group Registered Users
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
