[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This repository holds the source code for robinhood version 4, a suite of tools to store and query any filesystem's metadata.
[access "refs/*"]
	owner = group cea-hpc
[access "refs/heads/*"]
	create = group cea-hpc
	push = +force group cea-hpc
	pushMerge = group cea-hpc
[access "refs/tags/*"]
	push = +force group cea-hpc
	createSignedTag = group cea-hpc
	createTag = group cea-hpc
